body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin-left: 0;
    margin-top: 0;
}
#background {
    background-image: url("https://www.dn.no/incoming/article192512.ece/ALTERNATES/fullwidth/LB%20T-bane%20inne.jpg");
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
}

#main {
   
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: red;
    
}
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: black;
    
}
